---
import avatar from "../assets/alicia.jpg"; // o una URL
---

<section id="biografia" class="biografia">
  <div class="container">
    <h2>Sobre mí</h2>
    <img src={avatar.src} alt="Alicia Susana Arias" class="avatar-flotante" />
    <p>
      Hola, soy <strong>Alicia</strong>. Nací en Cipolletti, Río Negro, pero desde hace ya varios años vivo
      en la ciudad de Neuquén, que es donde hoy construyo mi vida y mis historias. Soy licenciada en Servicio Social,
      carrera que estudié en la Universidad Nacional del Comahue. Fue también en esa universidad donde participé de
      talleres literarios que me ayudaron a descubrir y afianzar mi voz como escritora.
    </p>
    <p>
      Escribo cuentos desde principios de los 2000. Algunos siguen guardados en mis cuadernos, otros encontraron su
      lugar en lecturas compartidas en tertulias literarias. Entre mis textos más queridos están <em>La abuela</em>, <em
        >El Café de Leo</em
      >, <em>Tarde de viernes en el Museo</em> y <em>Envejecer Juntos</em>.
    </p>
    <p>
      En 2022 tuve la alegría de participar con tres narraciones en la antología <em>Pluma Cafelaria – Tercera Dosis</em
      >, y ese mismo año publiqué mi primera novela: <em>La Machi</em>. <em>La Herencia</em> es mi segunda novela, un proyecto
      que también me dio muchas alegrías.
    </p>
    <p>
      Escribo porque me gusta observar el mundo y transformarlo en palabras. Y, sobre todo, porque disfruto mucho
      compartir esas historias con otros.
    </p>
  </div>
</section>

<style>
  .biografia {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 100px 0;
    color: #6d5a47;
    background-color: #ffffff;
  }

  .biografia h2 {
    text-align: center;
    font-size: 3rem;
    color: #5b391d;
    margin-bottom: 20px;
    font-weight: 300;
  }
  .biografia p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .biografia .avatar-flotante {
    float: right;
    width: 240px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 600px) {
    .biografia .avatar-flotante {
      float: none;
      display: block;
      margin: 0 auto 1rem;
    }

    .biografia {
      text-align: center;
    }
  }
</style>
